@using Lab._06.MVC.Web.Helper
@model Lab._06.MVC.Web.Models.MovieViewModel

@Scripts.Render("~/bundles/comments")
@Styles.Render("~/bundles/rainbowButton")

<div class="container-fluid" align="center">
    <div class="container-fluid">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <h1>@Html.DisplayFor(modelItem => Model.MovieName)</h1>
        </div>
        <div class="col-md-2">
            @if (User.IsInRole("admin"))
            {
                <nav id="nav" class="navbar nav-transparent">
                    <ul class="main-nav nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Remove", "RemoveMovie", "Movie", new { movieName = Model.MovieName }, null)</li>
                        <li>@Html.ActionLink("Update", "UpdateMovie", "Movie", new { movieid = Model.MovieID }, null)</li>
                    </ul>
                </nav>
            }
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-8">
            @Html.Image(Model.MoviePoster)
        </div>
        <div class="col-md-4">
            <h4>Description:</h4>
            <div align="justify">
                <p>@Html.DisplayFor(modelItem => Model.UserMovieNote)</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    @if (User.Identity.IsAuthenticated)
    {
        <p>
            @Html.Partial("~/Views/Comments/AddComment.cshtml")
        </p>
    }
    <a id="showNewCommentsBtn" class="rainbow-button" alt="Show new comments"></a>
    <div id="commentsPartialView">

    </div>
    <hr>
</div>

<script type="text/javascript">
    var commentManager = new CommentManager({
        addCommentButtonID: "addCommentButton",
        MovieID: @Model.MovieID
    })
</script>